// screens
$screen-desktop: 1440px;

// text colors
$text-color--dark: rgba(0, 0, 0, 0.541327);
$text-color--darken: rgba(0, 0, 0, 0.87);

// background colors
$bg-color--light: #E5E5E5;
$bg-color--lighten: #ffffff;

$bg-color--current: #C4C4C4;
$bg-color--prev: #41F795;
$bg-color--red: #F74141;
$bg-color--blue: #41B6F7;

// shadows
$block-shadow: 0 4px 4px rgba(0, 0, 0, 0.24), 0 0 4px rgba(0, 0, 0, 0.12);

// fonts
$font-family--1: "Roboto", "Arial", sans-serif;



